<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Test Suite">
    <test name="Test Demo">
        <classes>
<!--            <class name="com.opencart.automation.testcases.TC002_LoginSuccessTest"/>-->
            <class name="com.opencart.automation.testcases.TC001_RegistrationSuccessTest"/>
        </classes>

    </test>
</suite>